.DS_Store
*.pyc
*.pyo
*.orig
*.swp
*.swo
*.pid
*.sqlite3
*.sup
*.bak
*.tmproj
dist/
tmp/
my_config.py
js_config.py
variable_config.py
.idea/
static/avatar/*
static/js/closure-library/*
static/js/closure-library-new/*
static/js/closure-library/
static/css/desktop/all_min.css
static/css/desktop/tmp/*
static/css/v2/c/*
static/js/v2/c/*
static/css/v3/less/*.css
templates/desktop/c/*
static/js/all_min.js
dump.rdb
.project
.tmp_*
local_run.py
eggs/*
*.o
*.so
*.egg-info
build
tags
_zhihu_log
.hg
*.wpr
*.log
lib/wtforms-recaptcha-0.1.0
zhihu_live8*.py
local_settings.py
local_*config.py
.installed.cfg
bin/
develop-eggs/
parts/
lib/*/dist
supervisord.conf
*.supervisor
.vimrc
var/
.coverage
base_config.py
config/variable_config.py
docs/_build/
/static/js/v2/main.js
log/*
!log/README.md
etc/redis.supervisor
static/css/v2/parse.app/Contents/Info.plist
static/css/v2/parse.app/Contents/MacOS/Python
static/css/v2/parse.app/Contents/MacOS/parse
static/css/v2/parse.app/Contents/PkgInfo
static/css/v2/parse.app/Contents/Resources/PythonApplet.icns
static/css/v2/parse.app/Contents/Resources/__argvemulator_parse.py
static/css/v2/parse.app/Contents/Resources/parse.py
zhihu.iml
temp/*
downloads/*
static/js/reader/o
static/js/reader/c
static/js/reader/main.js
static/js/reader/reader-deps.js
static/js/reader/sybols.js
static/js/reader/third_party
static/css/reader/c
templates/reader/c
etc/dev/nginx-dev.conf
etc/dev/supervisord-dev.conf
etc/dev/redis-dev.conf
etc/dev/custom_buildout.cfg
etc/dev/custom_supervisor.conf
.pydevproject
.settings/
.codeintel
apps/web_api_v2/tests/stress_testing/results
apps/web_api_v2/tests/config.py
apps/core/workers/busycounter.session_id
